<!--注意所有引用地址全从根目录写！-->
<footer id="footer" class="section-bg">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-info">
                        <h3>CV-XUEBA</h3>
                    </div>
                    <div class="footer-links">
                        <h4>Contact Us</h4>
                        <p>
                            <strong>Email:</strong> cv_xueba@163.com<br>
                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="footer-links">
                        <h4>在这里找到我们</h4>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="https://space.bilibili.com/592250247"><img src="https://cdn.jsdelivr.net/gh/CV-xueba/cv-xueba-cdn@master/img/logos/bilibili.png"
                                                                                    alt="bilibili"></a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://github.com/CV-xueba"><img src="https://cdn.jsdelivr.net/gh/CV-xueba/cv-xueba-cdn@master/img/logos/github.png" alt="github"></a>
                            </div>
                            <div class="col-md-2">
                                <a href=""><img src="https://cdn.jsdelivr.net/gh/CV-xueba/cv-xueba-cdn@master/img/logos/qrcode.png" alt="qrcode"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy;Copyright <strong>CV-XUEBA</strong>&emsp;<a href="https://www.beian.miit.gov.cn/" target="_blank">京ICP备2020042438号</a>&emsp;<img src="https://cdn.jsdelivr.net/gh/CV-xueba/cv-xueba-cdn@master/img/logos/beian.png"> <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010602007499">京公网安备 11010602007499号</a>
        </div>
        <!--        <div style="width:300px;margin:0 auto; padding:20px 0;">-->
        <!--            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010602007499" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">京公网安备 11010602007499号</p></a>-->
        <!--        </div>-->

    <!-- 添加访问计数器 -->
    <div style="text-align: center; margin: 10px 0; color: #6c757d;">
        <span id="busuanzi_container_page_pv">
            本网站访问量：<span id="busuanzi_value_page_pv"></span> 次
        </span>
    </div>
        
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
            -->
            Theme designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- #footer -->
