<!--注意所有引用地址全从根目录写！-->
<header id="header">

    <div id="topbar">
        <div class="container">
            <div class="social-links">
                <a href="#" class="github"><i class="fa fa-github"></i></a>
                <a href="#" class="bilibili"><i class="fa fa-youtube-play"></i></a>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <!--        <h1 class="text-light"><a href="#intro" class="scrollto"><span>Rapid</span></a></h1>-->
            <a href="#header" class="scrollto"><img src="img/logo-lg.png" alt="" class="img-fluid"></a>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="index.html#intro">首页</a></li>
                <!--          <li><a href="index.html#about">我们是谁</a></li>-->
                <li><a href="index.html#course">全部课程</a></li>
                <!--          <li><a href="pages/work/all.html">团队工作</a></li>-->
                <li><a href="pages/members/all.html">我们是谁</a></li>
                <li><a href="index.html#footer">联系我们</a></li>
            </ul>
        </nav><!-- .main-nav -->

    </div>
</header><!-- #header -->